.error_not_found_title {
font-size: 25px;
display: flex;
flex-direction: column;
gap:50px;
align-items: center;
width: 100%;
height:500px;    
}
.error_not_found_button {
    background-color:#f6dda7;
    border: solid 1px black;
    height: 30px;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    transition: ease-in 0.1s;
}
.error_not_found_button:hover{
background-color:rgba(248, 174, 14, 0.5);
box-shadow: 1px 1px 0px 0px  black; 
}
.error_not_found_sad_face {
background-image: url('/src/sad-face.png');    
background-size: contain;
background-repeat: no-repeat;
width: 270px;
height: 270px;
opacity:0.1;
}    

