.header {
  background-color: #ffc74d;
  padding: 12px 0px;
  height: 190px;
  box-shadow: 2px 1px rgb(224, 190, 110); 
}
.header__wrapper {
  display: flex;
  align-items:safe;
  width: auto;
  justify-content: space-around;
 
 
  gap: 80px;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 20px;
  
}
.header__title {
font-family: 'Reggae One', cursive;
font-size: 55px;
width: 360px;
color: rgb(186, 59, 0);
text-shadow: black 1px 1px;
}
.header_title_description {
  font-family: 'Reggae One', cursive;
  font-size: 20px; 
}
.header_auth_buttons {
width:20%;
display: grid;
grid-template-columns: repeat(2, 200px);
gap: 5px;
font-size: 13px;
margin-top: 65px;

}

.button_sign{
background-color:#e7ac2d;
border: solid 1px black;
height: 30px;
width: 150px;
padding: 5px;
border-radius: 10px;
font-size: 15px;
transition: ease-in 0.1s;

}
.button_sign:hover{
  background-color:rgba(248, 174, 14, 0.5);
  box-shadow: 1px 1px 1px 1px  black; 
}

.button_add {
  background-color:#e7ac2d;
  border: solid 1px black;
  height: 30px;
  width: 150px;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
  transition: ease-in 0.1s;
}
.button_add:hover{
  background-color:rgba(248, 174, 14, 0.5);
  box-shadow: 1px 1px 1px 1px  black; 
}

.button_change_user_info {
  background-color:#e7ac2d;
  border: solid 1px black;
  height: 30px;
  width: 250px;
  
  border-radius: 10px;
  font-size: 15px;
  transition: ease-in 0.1s;  
}
.button_change_user_info:hover {
  background-color:rgba(248, 174, 14, 0.5);
  box-shadow: 1px 1px 1px 1px  black;  
}

.user_info_wrapper {
padding:10px;
border: 1px dashed black;
margin-top: 10px;
width: 430px;
font-size: 18px;
font-weight: 600;  
margin-bottom: 10px;

}








@media (max-width: 700px) {
  .header__wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }
}

