.header {
  background-color: #ffc74d;
  padding: 12px 0px;
  height: 100px;
  box-shadow: 2px 1px rgb(224, 190, 110); 
  padding-bottom: 40px;
  margin-bottom: 60px;
 
  position: fixed;
  z-index: 2;  


}
.header__wrapper {
  display: flex;
  align-items:safe;
  width: auto;
  justify-content: space-evenly;
  gap: 40px;
  margin-right: 50px;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 100px;  
  
}
.header__title {
font-family: 'Reggae One', cursive;
font-size: 40px;
width: 360px;
color: rgb(186, 59, 0);
text-shadow: black 1px 1px;
}
.header_title_description {
  font-family: 'Reggae One', cursive;
  font-size: 16px; 
}
.header_admin_buttons {
width:110%;
display: flex;
flex-direction: column;
gap: 10px;
font-size: 8px;
margin-top: 15px;
padding-right: 80px;

}

.button_sign{
background-color:#e7ac2d;
border: solid 1px black;
height: 30px;
width: 150px;
padding: 5px;
border-radius: 10px;
transition: ease-in 0.1s;

}
.button_sign:hover{
  background-color:rgba(248, 174, 14, 0.5);
  box-shadow: 1px 1px 1px 1px  black; 
}

.button_add {
  background-color:#e7ac2d;
  border: solid 1px black;
  height: 30px;
  width: 150px;
  padding: 5px;
  border-radius: 10px;
  transition: ease-in 0.1s;
}
.button_add:hover{
  background-color:rgba(248, 174, 14, 0.5);
  box-shadow: 1px 1px 1px 1px  black; 
}

.button_change_user_info {
  background-color:#e7ac2d;
  border: solid 1px black;
  height: 30px;
  width: 250px;
  
  border-radius: 10px;
  transition: ease-in 0.1s;  
}
.button_change_user_info:hover {
  background-color:rgba(248, 174, 14, 0.5);
  box-shadow: 1px 1px 1px 1px  black;  
}

.user_info_wrapper {
  padding:10px;
  margin-top: 60px;
  width: 430px;
  font-size: 17px;
  font-weight: 600;  
  display: flex;
  gap:10px;
  align-items: center;
  position: relative;
  top:-10px;
}

.header_user_buttons {
  display: flex;
  flex-direction: row;
  position: relative;
  top:60px
}
.user_avatar{
background-color: white; 
height: 40px;
width: 40px; 
border-radius: 100%;
vertical-align: middle;
border: 1px rgba(0, 0, 0, 0.017) solid;

opacity: 0.7;
transition: 0.2s ease-in;
cursor: pointer;}

.user_avatar:hover{
opacity: 1;
}






@media (max-width: 700px) {
  .header__wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }
}

