body {
  margin: 0;
  max-width:100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 248, 227);
  overflow-x:hidden;
}



.container {

  background-color: white;
  max-width: 1240px;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 95%;
	margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  overflow-x:hidden;
}


.content {
	padding: 50px;
  
}
