
.bm-burger-button {
    position: relative !important;
    width: 38px !important;
    height: 20px !important;
    margin-left:-100px ;
    top: 30px
  }
  .bm-burger-bars {
    background: #373a47;
  }
  .bm-burger-bars-hover {
    background: #a94600;
  }
  .bm-cross-button {
    height: 20px;
    width: 20px;
    position: relative;
    right:0
  }
  .bm-cross-button:hover {
    background: #fbf9f9;
    opacity: 0.4;
    border-radius: 100%;
  }
  
  .bm-cross {
    background: #b57f22;
  }
  .bm-cross:hover {
    color: #242424;
  }

  .bm-menu-wrap {
    position: relative;
    height: 50%;
    left: 0;
    top:131px;
  }
  .bm-menu {
    background: #ffedc6;
    padding: 1.5em 1.5em 0;
    font-size: 1.5em;
    opacity: 0.8;
    width: 305px;
    position: relative;
    overflow:hidden !important; 
  }

  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    overflow: hidden;
  }

  .bm-item {
    display: inline-block;
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item {
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    line-height: 42px;
    font-family: 'Reggae One', cursive;
    background-color: transparent;
    border:none;
    cursor: pointer;
    color: #000000;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: ease-in color 0.2s;
    border-bottom: 1px solid rgb(238, 227, 205);
  }

  .bm-item:hover {
    color: #ff8e03;
  }
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    left:0;
    top:131px;
  }

  @media (max-width: 400px) {
    .bm-burger-button {
      left: 420px;
      top:20px
    }
    .bm-menu {
      min-width: 387px;
      top:123px
    }
    .bm-cross-button {
      height: 20px;
      width: 20px;
      position: absolute;
      left:3280px;
      top: 130px !important;
    }

    .bm-overlay {
      left:0;
      top:253px  ;
    }

  }
